/* Les fichiers CSS permettent de modifier le style du site web */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  background-color: #fff;
  font-family: "Indie Flower", helvetica, arial, sans-serif;
  font-size: 20px;
  color: #000;
}

h1 {
  color: #000;
  text-shadow: 2px 0px 2px #00303F;
  font-size: 64px;
}

h2 {
  color: #000;
  font-size: 32px;
  text-decoration: italic;
}

a
{
  color: #00f;
  text-decoration: none;
}

#main
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title h1 {
  margin: 0;
  margin-top: 0.2em;
}

#intro
{
  text-align: center;
  width: 50%;
}

#scene {
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  margin-top: 1em;
}

#webo
{
  max-width: 120px;
  max-height: 120px;
  margin-top: 2em;
}

#internet {
      display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#internet .portal
{
  max-width: 200px;
  max-height: 200px;
  margin-right: 1em;
}

#grass
{
      position: absolute;
    bottom: 0;
    max-width: 100%;
}